body {
    margin: 0;
    padding: 0;
    background-color: rgba(43, 37, 37, 1);
    color: white;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5% 0 0;
}
footer p {
    font-family: "Source Serif Pro";
    font-size: 150%;
    color: #8e0101;
}