header {
    width: 100%;
    background-color: #8e0101;
    position: sticky;
    top: 0;
}


header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

header nav #esquerda h1 {
    font-family: Ewert;
    margin: 0;
    padding: 0;
}

header nav #direita {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}
header nav #direita button {
    background-color: transparent;
    border: 0;
}
header nav #direita button a {
    font-family: "Source Serif Pro";
    text-decoration: none;
    color: white;
    font-size: 130%;
    cursor: pointer;
}
header nav #direita button a:hover {
    color: #2B2525;
    transition: 0.5s;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 6px;
    transition: 0.3s;
}


@media (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    header nav #direita {
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: space-around;
        top: 5vh;
        right: 0;
        width: 100vw;
        height: 20vh;
        background-color: #8e0101;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    #direita button {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

header nav #direita.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.center {
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}

.centerInforms {
    width: 90%;
    margin: auto;
}

.centerInforms p {
    width: 90%;
    margin: auto;
}

.center h1, .centerInforms h1 {
    font-family: "Ewert";
    font-size: 200%;
    text-align: center;
    padding: 2%;
}

p {
    font-family: "Source Serif Pro";
    font-size: 150%;
    text-align: left;
    padding-bottom: 2%;
}

h2 {
    font-family: "Source Serif Pro";
    font-size: 175%;
    margin-bottom: 0;
    padding-bottom: 0;
}

hr {
    width: 10%;
    margin-left: 0;
    justify-content: flex-start;
    margin-bottom: 3%;
}   

ul {
    width: 80%;
    margin: auto;
    padding: 2%;
}

li {
    font-family: "Source Serif Pro";
    font-size: 150%;
    text-align: left;
    padding: 2%;
}